<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Route Rakshak | Citizen </title>
</head>
<body>
    <main>
        <nav>
            <div class="nl"></div>
            <div class="nr">
                <a href="/">Home</a>
                <a href="/citizenComplaint">Complaint</a>
                <a href="/map">Maps</a>
            </div>
        </nav>
        <div id="page1">
            <div id="pg1-container">
                <h1>Citizen Dashboard</h1>
                <h2>Welcome <%= citizen.name %> , Ward: <%= citizen.ward_id %></h2>
                
            </div>
        </div>
        <div id="page2">
            <h2>Your Complaints</h2>
            <div id="pg2-container">
                <% yourComplaints.forEach(complaint => { %>

                <div class="complaint-card">

                    <p><strong>Location:</strong> <%= complaint.locationText %></p>
                    <p><strong>Status:</strong> <%= complaint.status %></p>

                    <p><strong>Message:</strong> <%= complaint.message %></p>

                    <img src="<%= complaint.beforeImage %>" width="200">

                    <% if (complaint.status === "resolved") { %>

                        <h4>Repair Image:</h4>
                        <img src="<%= complaint.afterImage %>" width="200">

                        <form action="/verify/<%= complaint._id %>" method="POST">
                        <button type="submit">Verify</button>
                        </form>

                    <% } %>

                    <% if (complaint.status === "completed") { %>
                        <p style="color: green;">✔ Verified & Completed</p>
                    <% } %>

                    </div>
                    <% }) %>
            </div>
        </div>
        <div id="page3">
            <div id="pg3-container">
                <h2>STATS</h2>

                <div class="stats-container">

                <div class="stat-card">
                    <h3>🏆 Ward Rank</h3>
                    <p>#<%= ward.rank %></p>
                    <a href="/leaderboard">View All Ranks</a>
                </div>

                <div class="stat-card">
                    <h3>📊 Total Ward Complaints</h3>
                    <p><%= ward.complaintsCount %></p>
                </div>

                <div class="stat-card">
                    <h3>⏳ Pending</h3>
                    <p><%= pendingCount %></p>
                </div>

                <div class="stat-card">
                    <h3>✅ Completed</h3>
                    <p><%= completedCount %></p>
                </div>

                <div class="stat-card">
                    <h3>🙋 Your Complaints</h3>
                    <p><%= yourComplaints.length %></p>
                </div>

                </div>

            </div>
        </div>
        <div id="copywright">
            <p>&copy; <span id="year"></span> ATES Squad. All rights reserved.</p>
        </div>
    </main>
    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('year').textContent = currentYear;
    </script>
    <script src="/js/script.js"></script>
</body>
</html>