
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/css/style.css">
    <title>Route Rakshak | Admin Complaints </title>
</head>
<body>
    <main>
        <nav>
            <div class="nl"></div>
            <div class="nr">
                <a href="/admin">Home</a>
                <a href="/admin/adminComplaints">Complaints</a>
                <a href="/admin/dashboard">Dashboard</a>
                <a href="/admin/logout">Logout</a>
            </div>
        </nav>
        <div id="page1">
            <div class="admin-detail-wrapper">
            <div class="admin-detail-header">
                <h1>Complaint Details</h1>
                <span class="status-badge <%= complaint.status %>">
                    <%= complaint.status %>
                </span>
            </div>

            <div class="admin-detail-grid">
                <div class="admin-detail-info">

                    <div class="info-card">
                        <h3>📍 Location</h3>
                        <p><%= complaint.locationText %></p>
                    </div>

                    <div class="info-card">
                        <h3>📝 Description</h3>
                        <p><%= complaint.message %></p>
                    </div>

                </div>
                <div class="admin-detail-media">

                    <div class="media-card">
                        <h3>Before Repair</h3>
                        <img src="<%= complaint.beforeImage %>" alt="Before Repair">
                    </div>

                    <% if (complaint.status !== "completed") { %>
                        <div class="resolve-card">
                            <h3>Upload After Repair Image</h3>

                            <form action="/admin/resolve/<%= complaint._id %>" 
                                method="POST" 
                                enctype="multipart/form-data">

                                <input type="file" name="afterImage" required>

                                <button type="submit" class="resolve-btn">
                                    Mark as Resolved
                                </button>
                            </form>
                        </div>
                    <% } %>

                </div>

            </div>

        </div>
        </div>
         <div id="copywright">
            <p>&copy; <span id="year"></span> ATES Squad. All rights reserved.</p>
        </div>
    </main>
    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('year').textContent = currentYear;
    </script>
    <script src="/admin/js/script.js"></script>
</body>
</html>
        